<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rcos.gomueller" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_edit_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main menu -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- View exercise -->
        <activity
            android:name=".TrackExerciseActivity"
            android:label="@string/title_activity_track_exercise"
            android:parentActivityName=".MainActivity" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rcos.gomueller.MainActivity" />
        </activity>

        <!-- Add exercise -->
        <activity
            android:name=".NewExerciseActivity"
            android:label="@string/title_activity_new_exercise"
            android:parentActivityName=".TrackExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".TrackExerciseActivity" />
        </activity>

        <!-- Add weight -->
        <activity
            android:name=".NewWeightActivity"
            android:label="@string/title_activity_new_weight"
            android:parentActivityName=".GraphWeightActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rcos.gomueller.GraphWeightActivity" />
        </activity>

        <!-- View Exercise Graph -->
        <activity
            android:name=".GraphExerciseActivity"
            android:label="@string/title_activity_graph_weight"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rcos.gomueller.MainActivity" />
        </activity>

        <!-- View Weight Graph -->
        <activity
            android:name=".GraphWeightActivity"
            android:label="@string/title_activity_graph_weight"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rcos.gomueller.MainActivity" />
        </activity>

        <!-- View detailed exercise history (weights used etc.) -->
        <activity
            android:name=".ExerciseDetailActivity"
            android:label="@string/title_activity_exercise_detail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- View detailed exercise history (weights used etc.) -->
        <activity
            android:name=".EditExerciseActivity"
            android:label="Edit Exercise Activity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Settings menu -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".NewExerciseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rcos.gomueller.NewExerciseActivity" />
        </activity>

        <!-- About page -->
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.rcos.gomueller.MainActivity" />
        </activity>
    </application>

</manifest>
